.lunbo-container{
  position:relative;
  padding:24px 27px;
  width:256px;
  height:256px;
  border:1px solid #000;
  overflow:hidden;}
.lunbo-container .bd{
  position:relative;
  height:100%;
  z-index:0;}
.lunbo-container .bd .img100{
  display:block;
  width:256px;
  height:256px;}

.lunbo-container .hd{
  position:absolute;
  bottom:40px;
  left:50%;
  width:110px;
  margin-left:-55px;
  padding:2px 5px;
  height:10px;
  z-index:10;}/*小圆点*/
.lunbo-container .hd .bullet{
  position:relative;
  float:left;
  width:10px;
  height:10px;
  background:#fff;
  margin:0 5px;
  border-radius:50%;
  cursor:pointer;
  z-index:2;}
.lunbo-container .hd .bullet.on{background:#ff7200;}
.lunbo-container .hd .bullet-bg{position:absolute;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5);border-radius:6px;z-index:1;}